<script src="/assets/js/001.js"></script>
<script src="/assets/js/002.js"></script>
<div class="footer">
    <p>Created by <a href="http://github.com/koamania" target="_blank">koamania</a></a></p>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138866636-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138866636-3');
</script>
