<div class="header">
    <nav class="nav_bar">
        <ul>
            <!-- left header -->
            <li
                class="li_left">
                <!-- home -->
                {% if page.home_btn != false %}
                    <a class="header_btn" href="{{ site.url }}{{ site.baseurl }}">
                        <i class="fa fa-home">
                            {% if page.btn_text != false %}
                                <p class="btn_text">첫화면</p>
                            {% endif %}
                        </i>
                    </a>
                {% endif %}
                {% if page.about_btn != false %}
                <!-- about -->
                <a href="/about" class="header_btn" id="about_btn">
                    <i class="fa fa-address-card">
                        {% if page.btn_text != false %}
                            <p class="btn_text" id="about_text">소개</p>
                        {% endif %}
                    </i>
                </a>
                {% endif %}
                <!-- email -->
                {% if site.email != ""%}
                    <a class="header_btn" href="mailto:{{ site.email }}">
                        <i class="fa fa-envelope-square">
                            {% if page.btn_text != false %}
                                <p class="btn_text">메일</p>
                            {% endif %}
                        </i>
                    </a>
                {% endif %}
                <!-- github -->
                {% if site.github != "" %}
                    <a class="header_btn" href="https://github.com/{{ site.github }}">
                        <i class="fa fa-github">
                            {% if page.btn_text != false %}
                                <p class="btn_text">깃허브</p>
                            {% endif %}
                        </i>
                    </a>
                {% endif %}
                <!-- maximize -->
                {% if page.maximize != false %}
                    <a class="header_btn" id="mxmz_btn" onclick="toggle_maximize()">
                        <i class="fa fa-window-maximize">
                            {% if page.btn_text != false %}
                                <p class="btn_text" id="mxmz_text">최대화</p>
                            {% endif %}
                        </i>
                    </a>
                {% endif %}
                <!-- bg on/off -->
                <a class="header_btn" id="bg_btn" onclick="toggle_bg()">
                    <i class="fa fa-window-maximize">
                        {% if page.btn_text != false %}
                            <p class="btn_text" id="bg_text">배경</p>
                        {% endif %}
                    </i>
                </a>
                <!-- access token -->
                {% if page.encrypted_text == true %}
                    <a class="header_btn" id="acs_btn" onclick="apply_token()">
                        <i class="fa fa-key">
                            {% if page.btn_text != false %}
                                <p class="btn_text">토큰</p>
                            {% endif %}
                        </i>
                    </a>
                    <input class="access_token" id="acs_tkn" />
                {% endif %}
            </li>
            <!-- right header -->
            <span
                class="span_right">
                <!-- popup table of content -->
                {% if page.toc != false %}
                    <a class="header_btn" onclick="scroll_percentage(-0.88)">
                        <i class="fa fa-backward">
                            {% if page.btn_text != false %}
                                <p class="btn_text">이전</p>
                            {% endif %}
                        </i>
                    </a>
                    <!-- scroll down -->
                    <a class="header_btn" onclick="scroll_percentage(0.88)">
                        <i class="fa fa-forward">
                            {% if page.btn_text != false %}
                                <p class="btn_text">다음</p>
                            {% endif %}
                        </i>
                    </a>
                    <!-- popup table of content -->
                    <a class="header_btn popup_btn" onclick="toggle_toc()">
                        <i class="fa fa-bars">
                            {% if page.btn_text != false %}
                                <p class="btn_text">목차</p>
                            {% endif %}
                        </i>
                    </a>
                {% else site.title %}
                    <a class="title">{{ site.title }}</a>
                    {% if site.owner != ""%}
                        <a class="owner">
                            -
                            {{ site.owner }}</a>
                    {% endif %}
                {% endif %}
            </span>
        </ul>
    </nav>
    <hr/>
</div>
<!-- table of content -->
{% if page.toc != false %}
    <div class="div_toc toc" id="popup_toc">
    {% if page.toc_level %}
        {% assign toclv = page.toc_level %}
        {% elsif  site.toc_level %}
        {% assign toclv = site.toc_level %}
        {% else %} 
        {% assign toclv = 3 %}
    {% endif %}
    <!-- generate toc -->
    {% include toc.html html=page sanitize=true class="ul_toc" id="ul_toc" h_min=1 h_max=toclv %}
    </div>
    <!-- toggle toc -->
    <script>
    function toggle_toc() {
        var popup = document.getElementById("popup_toc");
        popup.classList.toggle("show");
    }
    </script>
    <!-- scroll page -->
    <script>
    function scroll_percentage(mtpler) {
        document
        .getElementById("div_atcl")
        .scrollBy(0, window.innerHeight * mtpler);
    }
    </script>
{% endif %}
<!-- toggle maximize -->
{% if page.maximize != false %}
<script>
  var ctner_state = 0;
  var ctner = document.getElementById("ctner");

  var bg_state = true;

  function toggle_maximize() {
    if (ctner_state == 0) {
      ctner.style.width = "100%";
      ctner.style.height = "100%";
      ctner.style.top = "0";
      ctner.style.maxWidth = "100%";
      if (document.getElementById("mxmz_text")) {
        document.getElementById("mxmz_text").innerHTML = "최소화";
      }
      ctner_state = 1;
    } else if (ctner_state == 1) {
      ctner.style.width = "84%";
      ctner.style.height = "97%";
      ctner.style.top = "2%";
      ctner.style.maxWidth = "1240px";
      if (document.getElementById("mxmz_text")) {
        document.getElementById("mxmz_text").innerHTML = "최대화";
      }
      ctner_state = 0;
    }
  }

  function toggle_bg() {
    if (bg_state) {
        offBgDraw();
        bg_state = false;
    } else {
        onBgDraw();
        bg_state = true;
    }
  }
</script>
{% endif %}
<!-- encrypt and decrypt -->
{% if page.encrypted_text == true %}
    <script src="{{ site.url }}{{ site.baseurl }}{{ site.assets_path }}/js/sjcl.js" async></script>
    <script>
  function decrypt_all(pwd, class_name) {
    var elem_clct = document.getElementsByClassName(class_name);
    if (elem_clct.length == 0) {
      console.log("No texts to decrypt!");
      return false;
    }
    for (acc = 0; acc < elem_clct.length; acc++) {
      var encrypted = elem_clct[acc].id;
      var ct =
        '{"iv":"' +
        encrypted.substring(0, 22) +
        '==",salt:"","ct":"' +
        encrypted.substring(22) +
        '"}';
      try {
        var txt = sjcl.json.decrypt(pwd, ct);
      } catch (e) {
        console.error("%cInvalid Token. Decryption Failed.","font-size: 20px");
        return;
      }
      elem_clct[acc].innerHTML = txt;
    }
    return true;
  }
  function apply_token() {
    var tkn = document.getElementById("acs_tkn");
    if (decrypt_all(tkn.value, "encrypted")) {
      tkn.style.display = "none";
      document.getElementById("acs_btn").style.display = "none";
    }
  }

  (() => {
    const tokenElem = document.getElementById('acs_tkn');
    tokenElem.addEventListener('keydown', event => {
        const code = event.key;
        if(code == 'Enter') { //Enter keycode
            apply_token();
        }
    })
  })()
</script>
{% endif %}
